body {
   font-family: 'Assistant', sans-serif;
}

body p {
   font-family: 'Assistant', sans-serif;
   color: #6c753d;
}

body h3,
h5 {
   font-family: 'Satisfy';
}
button {
   padding: 5px 10px 5px 10px;
   border: none;
   color: black;
   font-weight: 700;
   font-size: 30px;
   border-radius: 7px;
   background-color: #ffc31dee;
}
.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
.Pending {
   font-weight: bolder;
   color: rgb(218, 35, 3);
   border-radius: 5px;
   border: none;
   background-color: rgb(206, 199, 199);
}
.On-Going {
   font-weight: bolder;
   color: tomato;
   border-radius: 5px;
   border: none;
   background-color: rgb(206, 199, 199);
}
.Done {
   font-weight: bolder;
   color: green;
   border-radius: 5px;
   border: none;
   background-color: rgb(206, 199, 199);
}
